<form class="example-form" [formGroup]="templateSearchFormGroup" (ngSubmit)="onFormSubmit()">
        <!-- <h2 style="text-align: center;">How Can We Help You Communicate More Effectively?</h2> -->
        <h2 style="text-align: center;">How Can We Help You Communicate Today?</h2>
        <p style="text-align: center;"><i>Tell us what you're looking to write, and we will work to build your message through Danny Rubin's proven templates!</i></p>
        <mat-form-field style="width: 100%">
        <input type="text"
                placeholder="What can we help you write today? (Emails, Resumes, Linkedin, Jobs)"
                aria-label="Number"
                matInput
                formControlName="question">
        </mat-form-field>

</form>

<div class="grid-container" *ngIf="templateQueryResponses != null">
  <hr style="border-top: 1px solid  #eee; width: 100%">
  <div class="grid-container" *ngIf="templateQueryResponses.length == 0">
    <p style="text-align: center;">No results have been found for your search..</p>
  </div>
  
  <div class="grid-container" *ngIf="templateQueryResponses.length > 0">
    <p style="text-align: center; font-size:18px"><b>Here is a list of pre-defined templates related to your use-case. Get started by following the prompts below..</b></p>
    <mat-expansion-panel expanded=True style="margin-top: 20px" *ngFor="let result of this.templateQueryResponses">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="example-header-image"></div>
            <h3 style="float:left;">{{ result.template.title }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description class="content-container">
          <div>
            <p>
              <b>
                {{ result.template.description }}
              </b>
            </p>
          </div>
        </mat-panel-description>
        <mat-action-row class="content-container">
          <h4 style="text-align: center; font-size:18px;"><b>Complete the following prompts, then press 'Submit'</b></h4>
          <form style="display: block; margin: auto" class="content-container" [formGroup]="result.promptsForm" (ngSubmit)="onTemplateFormSubmit(result)">
            <mat-form-field style="width: 100%;" *ngFor="let prompt of result.template.prompts" appearance="{{ prompt.mat_ff_appearance }}">
              <mat-label>{{ prompt.mat_label }}</mat-label>
              <input matInput formControlName="{{ prompt.pId }}" placeholder="{{ prompt.mat_placeholder }}">
              <mat-icon matSuffix>{{ prompt.mat_icon }}</mat-icon>
            </mat-form-field>
            <button style="float: right;" class="mat-button-color" mat-raised-button color="primary" type="submit" [disabled]="!result.promptsForm.valid">Submit</button>
            <button style="float: right;" (click)="result.promptsForm.reset()" mat-raised-button>Clear</button>
          </form>
        </mat-action-row> 
    </mat-expansion-panel>
  </div>
</div>