<form class="example-form" [formGroup]="myFormGroup" (ngSubmit)="onFormSubmit()">
        <!-- <h2 style="text-align: center;">How Can We Help You Communicate More Effectively?</h2> -->
        <h2 style="text-align: center;">How Can We Help You Communicate Today?</h2>
        <p style="text-align: center;"><i>Tell us what you're looking to write, and we will work to build your message through Danny Rubin's proven templates!</i></p>
        <mat-form-field style="width: 100%">
        <input type="text"
                placeholder="What can we help you write today? (Emails, Resumes, Linkedin, Jobs)"
                aria-label="Number"
                matInput
                formControlName="question">
        </mat-form-field>

</form>

<div class="grid-container" *ngIf="templateQueryResponses != null">
  <hr style="border-top: 1px solid  #eee; width: 100%">
  <div class="grid-container" *ngIf="templateQueryResponses.length == 0">
    <p style="text-align: center;">No results have been found for your search..</p>
  </div>
  
  <div class="grid-container" *ngIf="templateQueryResponses.length > 0">
    <p style="text-align: center; font-size:18px"><b>Here is a list of pre-defined templates related to your use-case. Get started by following the prompts below..</b></p>
    <mat-expansion-panel expanded=True style="margin-top: 20px" *ngFor="let result of this.templateQueryResponses">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="example-header-image"></div>
            <h3 style="float:left;">{{ result.template.title }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <p>
              {{ result.template.description }}
          </p>
        </mat-panel-description>
        <mat-action-row>
          <button mat-raised-button>Clear</button>
          <a [routerLink]="'/template'">
            <button class="mat-button-color" mat-raised-button color="primary">Submit</button>
          </a>
        </mat-action-row>
    </mat-expansion-panel>
  </div>
</div>