<form class="example-form" [formGroup]="templateSearchFormGroup" (ngSubmit)="onFormSubmit()">
        <!-- <h2 style="text-align: center;">How Can We Help You Communicate More Effectively?</h2> -->
        <h2 style="text-align: center;">How Can We Help You Communicate Today?</h2>
        <p style="text-align: center;"><i>Tell us what you're looking to write, and we will work to build your message through Danny Rubin's proven templates!</i></p>
        <mat-form-field style="width: 100%">
        <input type="text"
                placeholder="What can we help you write today? (Emails, Resumes, Linkedin, Jobs)"
                aria-label="Number"
                matInput
                formControlName="question">
        </mat-form-field>

</form>

<div class="grid-container" *ngIf="templateQueryResponses != null">
  <hr style="border-top: 1px solid  #eee; width: 100%">
  <div class="grid-container" *ngIf="templateQueryResponses.length == 0">
    <p style="text-align: center;">No results have been found for your search..</p>
  </div>
  
  <div class="grid-container" *ngIf="templateQueryResponses.length > 0">
    <p style="text-align: center; font-size:18px"><b>Here is a list of pre-defined templates related to your use-case. Get started by following the prompts below..</b></p>
    <mat-expansion-panel expanded=True style="margin-top: 20px" *ngFor="let result of this.templateQueryResponses">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="example-header-image"></div>
            <h3 style="float:left;">{{ result.template.title }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description class="content-container">
          <div>
            <p>
              <b>
                {{ result.template.description }}
              </b>
            </p>
          </div>
          <div>
              <!-- result of this.templateQueryResponses -->
              <form class="content-container" [formGroup]="fetchRespectiveFormGroupObject(result)">
                <h3>Step #1: Who are you writing to?</h3>
                <mat-form-field appearance="standard">
                  <mat-label>Type the name of individual below</mat-label>
                  <input matInput placeholder="Enter the individual's name here">
                  <mat-icon matSuffix>person_outline</mat-icon>
                </mat-form-field>

                <hr style="border-top: 4px dotted  #bbb; width: 100%">

                <h3>Step #2: What time of day did you meet?</h3>
                <mat-form-field appearance="standard">
                  <mat-label>Please select from the list below</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let time of timesOfDay" [value]="time">
                      {{ time }}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>watch_later</mat-icon>
                </mat-form-field>

                <hr style="border-top: 4px dotted  #bbb; width: 100%">

                <mat-form-field appearance="standard">
                  <mat-label>Standard form field</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </form> 
          </div>
        </mat-panel-description>
        <mat-action-row>
          <button mat-raised-button>Clear</button>
          <a [routerLink]="'/template'">
            <button class="mat-button-color" mat-raised-button color="primary">Submit</button>
          </a>
        </mat-action-row>
    </mat-expansion-panel>
  </div>
</div>