<div class="flex-container">
    <div class="flex-column-container">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let panel of question.panels" [expanded]="selectedPanelIndex === question.panels.indexOf(panel)" (opened)="setSelectedPanelIndex(question.panels.indexOf(panel))">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="example-header-image"></div>
            </mat-panel-title>
            <mat-panel-description>
              {{ panel.header }}
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <!-- card body start -->
          <div>
            <p>
              {{ panel.description }}
            </p>
            <mat-form-field>
              <mat-label>Address 2</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
          <!-- card body end -->
          
          <mat-action-row>
            <button mat-button color="warn" (click)="prevPanelIndex()">Previous</button>
            <button mat-button color="primary" (click)="nextPanelIndex()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="flex-column-container">
      <div>This is box 2</div>
      <div>This is box 3</div>
    </div>
</div>
