.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.example-card {
    max-width: 400px;
    margin: 1%;
}

.mat-dialog-actions {
    // ...
    &[align='end'] {
      justify-content: flex-end;
    }
  
    &[align='center'] {
      justify-content: center;
    }
  }

.example-header-image {
    background-image: url('../../../assets/images/danny-rubin.jpg');
    background-size: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin: 15px;
    width: 10px;
    height: 10px;
}

.flex-column-container {
    flex-direction: column;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}